In [1]:
import pandas as pd
import numpy as np

from sklearn.feature_selection import SelectFpr
from sklearn.feature_selection import chi2
from sklearn.preprocessing import Normalizer
from sklearn import preprocessing

In [2]:
isot = pd.read_csv('../data/isot/overall.csv', header = None)
isot.head()

,0,1,2,3,4,5,6,7,8,9,...,200,201,202,203,204,205,206,207,208,209
0,0,3,1518715264,1518715264,0.000000,1,5,80,0,60290,...,0.0,0.0,-1.0,-1.0,-1.0,1,0,97,5.980000e+18,0
1,1,5,1518715265,1518715265,0.000890,1,0,54188,5,80,...,0.0,0.0,-1.0,-1.0,-1.0,2,0,97,5.980000e+18,0
2,2,5,1518715265,1518715265,0.000000,1,5,80,0,54188,...,0.0,0.0,-1.0,-1.0,-1.0,1,0,97,5.980000e+18,0
3,3,9,1518715265,1518715265,0.000852,1,0,54236,5,80,...,0.0,0.0,-1.0,-1.0,-1.0,2,0,97,5.980000e+18,0
4,4,9,1518715265,1518715265,0.000000,1,5,80,0,54236,...,0.0,0.0,-1.0,-1.0,-1.0,1,0,97,5.980000e+18,0

In [3]:
isot.tail()

,0,1,2,3,4,5,6,7,8,9,...,200,201,202,203,204,205,206,207,208,209
282297,282297,1,1519405416,1519415038,9622.203899,1,0,0,0,0,...,-1.902485,2.169046,-1.000000,-1.000000,-1.000000,0,0,97,1.090000e+19,0
282298,282298,917,1519415038,1519415038,0.000000,1,5,58804,0,53,...,0.000000,0.000000,0.485597,0.488889,0.444444,1,0,97,1.090000e+19,0
282299,282299,917,1519415038,1519415038,0.000000,1,0,53,5,58804,...,0.000000,0.000000,0.607449,0.471154,0.355769,1,0,97,1.090000e+19,0
282300,282300,916,1519415037,1519415038,1.518645,1,0,20308,5,22,...,-1.291117,-0.261417,0.850962,0.664935,0.067532,10,3,97,1.090000e+19,1
282301,282301,916,1519415037,1519415038,1.558386,1,5,22,0,20308,...,-0.494914,-1.588071,0.859793,0.661562,0.067381,12,3,97,1.090000e+19,1

In [4]:
isot = isot.drop(0, axis=1)
isot.head()

,1,2,3,4,5,6,7,8,9,10,...,200,201,202,203,204,205,206,207,208,209
0,3,1518715264,1518715264,0.000000,1,5,80,0,60290,6,...,0.0,0.0,-1.0,-1.0,-1.0,1,0,97,5.980000e+18,0
1,5,1518715265,1518715265,0.000890,1,0,54188,5,80,6,...,0.0,0.0,-1.0,-1.0,-1.0,2,0,97,5.980000e+18,0
2,5,1518715265,1518715265,0.000000,1,5,80,0,54188,6,...,0.0,0.0,-1.0,-1.0,-1.0,1,0,97,5.980000e+18,0
3,9,1518715265,1518715265,0.000852,1,0,54236,5,80,6,...,0.0,0.0,-1.0,-1.0,-1.0,2,0,97,5.980000e+18,0
4,9,1518715265,1518715265,0.000000,1,5,80,0,54236,6,...,0.0,0.0,-1.0,-1.0,-1.0,1,0,97,5.980000e+18,0

In [5]:
isot[209].value_counts()

0    272419
1      9883
Name: 209, dtype: int64

In [6]:
df_x = isot.drop(209, axis=1)
df_y = isot[209]

In [7]:
scaler = preprocessing.MinMaxScaler(feature_range=(0, 1))
d = scaler.fit_transform(df_x)

In [8]:
scaled_x = pd.DataFrame(d)
scaled_x.head()

,0,1,2,3,4,5,6,7,8,9,...,198,199,200,201,202,203,204,205,206,207
0,0.000060,0.000000,0.000000,0.000000e+00,0.0,1.0,0.001222,0.000000,0.921077,0.103448,...,0.0,0.425422,0.004013,0.0,0.0,0.0,0.025,0.0,0.0,0.279707
1,0.000121,0.000001,0.000001,8.183079e-08,0.0,0.0,0.827854,0.454545,0.001222,0.103448,...,0.0,0.425422,0.004013,0.0,0.0,0.0,0.050,0.0,0.0,0.279707
2,0.000121,0.000001,0.000001,0.000000e+00,0.0,1.0,0.001222,0.000000,0.827854,0.103448,...,0.0,0.425422,0.004013,0.0,0.0,0.0,0.025,0.0,0.0,0.279707
3,0.000242,0.000001,0.000001,7.833689e-08,0.0,0.0,0.828587,0.454545,0.001222,0.103448,...,0.0,0.425422,0.004013,0.0,0.0,0.0,0.050,0.0,0.0,0.279707
4,0.000242,0.000001,0.000001,0.000000e+00,0.0,1.0,0.001222,0.000000,0.828587,0.103448,...,0.0,0.425422,0.004013,0.0,0.0,0.0,0.025,0.0,0.0,0.279707

In [9]:
def preprocess(df_x, df_y):
    x_normalise = Normalizer().fit(df_x)
    df_x = x_normalise.transform(df_x)
    x_new = SelectFpr(chi2, alpha=0.05).fit_transform(df_x, df_y)
    return x_new

In [10]:
x_new = preprocess(scaled_x, df_y)

In [11]:
_, n_columns = x_new.shape
print(n_columns)

79

In [12]:
column_names = []

for i in range(n_columns):
    column_names.append('f' + str(i))

In [13]:
x_dataframe = pd.DataFrame(data=x_new, columns = column_names)
x_dataframe.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f69,f70,f71,f72,f73,f74,f75,f76,f77,f78
0,0.000023,0.000000e+00,0.000000e+00,0.038975,0.003730,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.009419,0.0,0.105381
1,0.000050,5.871782e-07,5.871782e-07,0.042506,0.004068,0.079527,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.020545,0.0,0.114930
2,0.000047,5.519440e-07,5.519440e-07,0.039955,0.003824,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.009656,0.0,0.108033
3,0.000107,6.292551e-07,6.292551e-07,0.045552,0.004360,0.085226,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.022017,0.0,0.123165
4,0.000092,5.423487e-07,5.423487e-07,0.039261,0.003758,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.009488,0.0,0.106155

In [17]:
y_dataframe = pd.DataFrame(df_y.to_numpy(), columns=['class'])
y_dataframe.head()

   class
0      0
1      0
2      0
3      0
4      0

In [18]:
y_dataframe.value_counts()

class
0        272419
1          9883
dtype: int64

In [19]:
normalized_dataset = pd.concat([x_dataframe, y_dataframe], axis=1)
normalized_dataset.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f70,f71,f72,f73,f74,f75,f76,f77,f78,class
0,0.000023,0.000000e+00,0.000000e+00,0.038975,0.003730,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.009419,0.0,0.105381,0
1,0.000050,5.871782e-07,5.871782e-07,0.042506,0.004068,0.079527,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.020545,0.0,0.114930,0
2,0.000047,5.519440e-07,5.519440e-07,0.039955,0.003824,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.009656,0.0,0.108033,0
3,0.000107,6.292551e-07,6.292551e-07,0.045552,0.004360,0.085226,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.022017,0.0,0.123165,0
4,0.000092,5.423487e-07,5.423487e-07,0.039261,0.003758,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.009488,0.0,0.106155,0

In [20]:
normalized_dataset.describe()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f70,f71,f72,f73,f74,f75,f76,f77,f78,class
count,282302.000000,282302.000000,282302.000000,282302.000000,282302.000000,282302.000000,282302.000000,282302.000000,282302.000000,282302.000000,...,282302.000000,282302.000000,282302.000000,282302.000000,282302.000000,282302.000000,282302.000000,282302.000000,282302.000000,282302.000000
mean,0.093230,0.134125,0.134138,0.028583,0.003017,0.029043,0.000106,0.011337,0.011597,0.013043,...,0.246969,0.150129,0.104100,0.218581,0.256502,0.131320,0.049213,0.074685,0.138474,0.035009
std,0.064278,0.084553,0.084552,0.010580,0.007175,0.032836,0.001083,0.019975,0.026428,0.022945,...,0.061489,0.043681,0.102252,0.036626,0.039453,0.024975,0.033379,0.119156,0.084757,0.183802
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.039700,0.036711,0.036722,0.025485,0.002419,0.000000,0.000000,0.002372,0.001264,0.002484,...,0.242859,0.145677,0.002574,0.201608,0.244133,0.122925,0.030951,0.000000,0.071241,0.000000
50%,0.085884,0.152734,0.152749,0.026696,0.002539,0.000000,0.000000,0.002948,0.002134,0.003491,...,0.255473,0.165201,0.026572,0.216704,0.256219,0.128810,0.044334,0.000000,0.141268,0.000000
75%,0.137970,0.197468,0.197478,0.029182,0.002773,0.054482,0.000000,0.004273,0.003505,0.005201,...,0.277727,0.174248,0.211672,0.243120,0.279278,0.140869,0.052952,0.234308,0.223768,0.000000
max,0.375476,0.385938,0.385938,0.252906,0.327674,0.362480,0.354742,0.200527,0.212483,0.200527,...,0.313142,0.292480,0.306314,0.340328,0.362701,0.339481,0.314927,0.327474,0.398129,1.000000

In [21]:
normalized_dataset.to_csv('../data/isot/overall_normalized.csv', index=False)

## Splitting Data into multiple parts for git

In [22]:
df_splits = np.array_split(normalized_dataset, 10)

for df in df_splits:
    print(df.shape)

(28231, 80)
(28231, 80)
(28230, 80)
(28230, 80)
(28230, 80)
(28230, 80)
(28230, 80)
(28230, 80)
(28230, 80)
(28230, 80)

In [23]:
for i, df in enumerate(df_splits):
    file_name = '../data/isot/overall_normalized/split-' + str(i) + '.csv'
    df.to_csv(file_name, index=False)
    print(file_name + ' saved')

../data/isot/overall_normalized/split-0.csv saved
../data/isot/overall_normalized/split-1.csv saved
../data/isot/overall_normalized/split-2.csv saved
../data/isot/overall_normalized/split-3.csv saved
../data/isot/overall_normalized/split-4.csv saved
../data/isot/overall_normalized/split-5.csv saved
../data/isot/overall_normalized/split-6.csv saved
../data/isot/overall_normalized/split-7.csv saved
../data/isot/overall_normalized/split-8.csv saved
../data/isot/overall_normalized/split-9.csv saved