In [1]:
import pandas as pd
import numpy as np

In [2]:
isot = pd.read_csv('../data/isot/overall.csv', header = None)
isot.head()

,0,1,2,3,4,5,6,7,8,9,...,200,201,202,203,204,205,206,207,208,209
0,0,3,1518715264,1518715264,0.000000,1,5,80,0,60290,...,0.0,0.0,-1.0,-1.0,-1.0,1,0,97,5.980000e+18,0
1,1,5,1518715265,1518715265,0.000890,1,0,54188,5,80,...,0.0,0.0,-1.0,-1.0,-1.0,2,0,97,5.980000e+18,0
2,2,5,1518715265,1518715265,0.000000,1,5,80,0,54188,...,0.0,0.0,-1.0,-1.0,-1.0,1,0,97,5.980000e+18,0
3,3,9,1518715265,1518715265,0.000852,1,0,54236,5,80,...,0.0,0.0,-1.0,-1.0,-1.0,2,0,97,5.980000e+18,0
4,4,9,1518715265,1518715265,0.000000,1,5,80,0,54236,...,0.0,0.0,-1.0,-1.0,-1.0,1,0,97,5.980000e+18,0

In [4]:
df_splits = np.array_split(isot, 10)

for df in df_splits:
    print(df.shape)

(28231, 210)
(28231, 210)
(28230, 210)
(28230, 210)
(28230, 210)
(28230, 210)
(28230, 210)
(28230, 210)
(28230, 210)
(28230, 210)

In [7]:
for i, df in enumerate(df_splits):
    file_name = '../data/isot/overall/split-' + str(i) + '.csv'
    df.to_csv(file_name)
    print(file_name + ' saved')

../data/isot/overall/split-0.csv saved
../data/isot/overall/split-1.csv saved
../data/isot/overall/split-2.csv saved
../data/isot/overall/split-3.csv saved
../data/isot/overall/split-4.csv saved
../data/isot/overall/split-5.csv saved
../data/isot/overall/split-6.csv saved
../data/isot/overall/split-7.csv saved
../data/isot/overall/split-8.csv saved
../data/isot/overall/split-9.csv saved